<div class="filter">
    <div class="filter__badge">{{ filteredArray?.length }}</div>
    <input (keyup)="updateFilteredItems()" class="filter__input" type="text" placeholder="Filter podcasts..."
        [(ngModel)]="searchText">
</div>

<section class="list">

    <div class="list__box" *ngFor="let podcast of filteredArray">
        <a [routerLink]="['/podcast/' + podcast.id.attributes['im:id']]" class="list__box__imgDiv"><img class=""
                [src]="podcast['im:image'][2]?.['label']" alt="{{podcast.title.label}}"></a>
        <a [routerLink]="['/podcast/' + podcast.id.attributes['im:id']]">
            <h2 class="list__box__title">{{podcast.title.label | removeAfter | uppercase}}</h2>
        </a>
        <p class="list__box__autor">Author: {{podcast['im:artist']?.label}}</p>
    </div>

</section>