.header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header h1 {
    color: var(--primary);
    font-size: 1.4em;
}

.filter__badge {
    background-color: var(--primary);
    border: 0px;
    border-radius: 50%;
}