<section class="podcast">

    <div class="leftBox">
        <div class="leftBox__imgContainer">
            <img class="leftBox__img" [src]="artwork" alt="">
        </div>
        <H2>{{artistName}}</H2>
        <h3>by {{collectionName}}</h3>
        <hr>
        <h2>Description</h2>
        <p>{{summary}}</p>
    </div>

    <div class="rigthBox">
        <app-episodes (showEpisodes)="hideEpisodes($event)" class="rigthBox" [podcastDetails]="podcastDetails"
            *ngIf="showEpisodes"></app-episodes>
        <router-outlet></router-outlet>
    </div>
</section>