<section class="podcast">

    <div class="podcast__column podcast__descriptionBox">
        <img class="list__box__img" [src]="" alt="Imagen">
        <hr>
        <h2>ARTISTA: {{podcastDetails?.kind}} </h2>
        <h3>by: The Joe Budden Network</h3>
        <hr>
        <h2>Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dolorum dolore, suscipit fugiat
            praesentium ab.</p>
    </div>

    <div class="podcast__episodesBox">
        <div class="podcast__column">
            <p>Episodes: 66</p>
        </div>
        <div class="podcast__column">
            <div class="column__content">
                <h4>Title</h4>
                <h4>Date</h4>
                <h4>Duration</h4>
            </div>
            <div class="column__content">
                <h4>Kt Tunstall - Suddenty I see</h4>
                <h4>1/03/2016</h4>
                <h4>14:00</h4>
            </div>
            <div class="column__content">
                <h4>Kt Tunstall - Suddenty I see on the Street</h4>
                <h4>1/03/2016</h4>
                <h4>14:00</h4>
            </div>
        </div>
    </div>
</section>