<div class="player">
    <h3> {{trackName}}</h3>
    <p>{{description}}</p>
    <audio class="player__audio" controls>
        <source [src]="previewUrl" type="audio/mpeg">
        Tu navegador no soporta la reproducción de audio.
    </audio>
</div>


<!-- 

    https://dts.podtrac.com/redirect.mp3/landmark-dynamic.barstoolsports.com/stream/4XKbEqWo1AGc5OUrPiG2G31h/audio.mp3?v=eyJzcmMiOiJodHRwczovL2JhcnN0b29sLXBvZGNhc3RzLnMzLmFtYXpvbmF3cy5jb20vYmFyc3Rvb2wtc3BvcnRzL21pbGxpb24tZG9sbGF6LXdvcnRoLW9mLWdhbWUvNFhLYkVxV28xQUdjNU9VclBpRzJHMzFoL0VQLTIzMy1GVC5ST1RJTUktLS1BVURJTy5jOTRhOTgxNy45NnMubXAzIiwiYmVjIjpbIm1hbGUiLCJsaWZlc3R5bGUiXSwiYWZwIjpudWxsfQ%3D%3D


previewUrl


 -->