/* Colores Personalizados */
:root {
    --primary: rgb(4, 116, 243);
    --light-background: rgb(250, 250, 250);
    --secondary: rgb(95, 95, 95);
    --light-grey: rgb(145, 145, 145);
}

body {
    background-color: var(--light-background);
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: 0.9em;
}

p {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

hr {
    width: 70%;
    border: none;
    height: 1px;
    background-color: rgb(218, 218, 218);
}